.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  /* box-sizing: border-box;
  background: #FFFFFF;
  padding: 25px 22px;
  border-radius: 10px; */
  margin: 0;
}
