.button_type_like {
  background: url('../../../images/icon/icon-like.svg') no-repeat center;
  background-size: contain;
  background-size: 22px 19px;
  /* position: absolute;
  bottom: 35px;
  right: 20px; */
  width: 30px;
  height: 25px;
  transition: 0.5s;
}

.button_type_like:hover {
  opacity: 0.5;
   background-size: 25px 22px;
  /* fill: #000;
  -webkit-filter: hue-rotate(320deg);
  filter: hue-rotate(320deg); */
}

/* todo после удалить, через js стилизовать активный класс */
.button_type_like:focus {
   width: 30px;
  height: 25px;
  background-image: url('../../../images/icon/icon-like-black.svg');
}