.button_type_like {
  background: url('../../../images/icon/icon-like.svg') no-repeat center;
  background-size: 22px 19px;
  width: 30px;
  height: 25px;
  transition: 0.5s;
}

.button_type_like:hover {
  opacity: .5;
  background-size: 25px 22px;
}

/* todo после удалить, через js стилизовать активный класс */
.button_type_like:focus {
  background-image: url('../../../images/icon/icon-like-black.svg');
}
