.header {
  display: flex;
  justify-content: start;
  border-bottom: 1px solid #545454;
  padding-left: 28px;
  padding-bottom: 28px;
}

@media screen and (min-width: 720px) {
  .header {
    padding-bottom: 41px;
  }
}