.form__input {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0 , 0, .2);
  color: #000;
  font-family: inherit;
  padding-bottom: 13px;
}

.form__input:focus {
  border: 2px rgba(214, 214, 214, 0.432) solid;
  /* стили для обводки импута */
}
.form__input:valid {
  border: 6px rgb(89, 255, 33) solid;
  /*стили для обводки импута*/
}

.form__input:invalid {
  border: 6px rgb(255, 4, 4) solid;
  /*стили для обводки импута*/
}