@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');
@import url('../blocks/root/root.css');
@import url('../blocks/root/root__container/root__container.css');
@import url('../blocks/main/main.css');
@import url('../blocks/header/header.css');
@import url('../blocks/header/__logo/header__logo.css');
/* PROFILE */
@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__photo/profile__photo.css');
@import url('../blocks/profile/__content/profile__content.css');
@import url('../blocks/profile/__info/profile__info.css');
@import url('../blocks/profile/__name/profile__name.css');
/* CARDS */
@import url('../blocks/cards/__title/cards__title.css');
@import url('../blocks/cards/__list/cards__list.css');
@import url('../blocks/cards/__item/cards__item.css');
@import url('../blocks/cards/__inner/cards__inner.css');
@import url('../blocks/cards/__image/cards__image.css');
/*FOOTER*/
@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__copyright/footer__copyright.css');
/* POPUP */
@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/__title/popup__title.css');
@import url('../blocks/popup/_opened/popup_opened.css');
@import url('../blocks/popup/__container/popup__container.css');
/*FORM*/
@import url('../blocks/form/form.css');
@import url('../blocks/form/__input/form__input.css');
@import url('../blocks/form/__inner/form__inner.css');
/*BUTTONS*/
@import url('../blocks/button/button.css');
@import url('../blocks/button/_type/button_type_add.css');
@import url('../blocks/button/_type/button_type_edit.css');
@import url('../blocks/button/_type/button_type_like.css');
@import url('../blocks/button/_type/button_type_close.css');
@import url('../blocks/button/_type/button_type_save.css');

/* @import url('../blocks'); шаблон*/

/* .popup_image {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  align-items: center;
  justify-content: center;
  visibility: visible;

} */
.figure {
  display: flex;
  
  align-items: center;
  justify-content: center;
}
.figure__image {
  object-fit: cover;
  width: 75vw;
  height: 75vh;
}
.figure_opened {
  display: flex;
}
.figure_info{
    background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}
.button_type_delete {
  background-image: url('../images/icon/icon-delete.svg');
  background-color: rgba(255, 255, 255, 0);
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.button_type_delete:hover{
  opacity: .6;
}
