@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');
@import url('../blocks/root/root.css');
/* НЕ ЗАБЫВАТЬ ПРО КАВЫЧКИ В ИМПОРТЕ */


/* *{
  border: 2px rgb(255, 209, 25) solid;
} */



.header__logo {
  width: 104px;
  height: 24px;
}

@media screen and (min-width: 720px) {
  .header__logo {
    width: 142px;
    height: 33px;
  }
}

.main {
  display: grid;
  row-gap: 47px;
  margin: 37px 0 67px;
}

@media screen and (min-width: 720px) {
  .main {
    margin-top: 45px;
  }
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 720px) {
  .profile {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.profile__photo {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 4px 27px;
  object-fit: cover;
}

.profile__content {
  /* display: flex;
  flex-direction: column;
  position: relative;
  max-width: 282px; */
  padding-top: 23px;
  padding-bottom: 36px;
  text-align: center;
  gap: 10px 14px;
  display: grid;
  grid-template-columns: 1fr auto;
  /* justify-items: flex-start; */
  align-items: center;
  grid-template-areas:
    "name edit-button"
    "info info";

}

@media screen and (min-width: 720px) {
  .profile__content {
    padding-bottom: 0;
    text-align: start;
    /* max-width: 336px; */
  }
}

/* возможно удалить .profile__icon-redact {
  height: 18px;
  width: 18px;
}

@media screen and (min-width: 720px) {
  .profile__icon-redact {
    height: 24px;
    width: 24px;
  }
} */


.profile__name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  margin: 0;
  /* padding: 23px 0 14px; */
  grid-area: name;
}

@media screen and (min-width: 720px) {
  .profile__name {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    /* padding-bottom: 16px; */
  }
}

.profile__info {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  /* padding-bottom: 36px; */
  grid-area: info;
}

@media screen and (min-width: 720px) {
  .profile__info {
    font-size: 18px;
    line-height: 22px;
    /* padding-bottom: 0; */
  }
}

.button {
  box-sizing: border-box;
  cursor: pointer;
  border: 2px solid #ffffff;
  background-color: #000;
  transition: 0.3s ease;

}

.button-edit {
  background: url('../images/icon/icon-edit.png') no-repeat;
  background-size: cover;
  /* border: 2px;
  border-color: white; */
  border: 0;
  /* margin-left: 18px; */
  grid-area: edit-button;
  height: 18px;
  width: 18px;
}

.button:hover {
  opacity: 0.6;
}

/* .button-add:hover {
  opacity: 0.6;
} */

@media screen and (min-width: 720px) {
  .button-edit {
    height: 24px;
    width: 24px;
  }
}

.button-add {
  background: url('../images/icon/icon-add.png') no-repeat center;
  border-radius: 2px;
  padding: 17px 134px;
}

@media screen and (min-width: 720px) {
  .button-add {
    padding: 14px 64px;
    /*задает размер кнопки*/
    margin-left: auto;
    /*выравнивание кнопки по правому краю*/

  }
}

/* .button-add__icon {
  
} */

.cards {
  min-width: 288px;
  display: grid;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  row-gap: 20px;
  justify-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* .cards__like{
  background: url('../images/icon/icon-like.svg') no-repeat ;
  color: #2a2c2f;
} */

/* @media screen and (min-width: 767px) {

  .cards__list {
    grid-template-columns:;
  }

} */

.cards__item {
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  position: relative;
}

.cards__title {
  max-width: 200px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  padding-left: 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 25px 21px 32px;
  box-sizing: border-box;
}

.cards__image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.button_cards-like {
  background: url('../images/icon/icon-like.svg') no-repeat center;
  background-size: contain;
  position: absolute;
  bottom: 35px;
  right: 20px;
  width: 22px;
  height: 19px;
  transition: 0.5s;
}

.button_cards-like:hover {
  width: 25px;
  height: 22px;
  fill: #000;
  -webkit-filter: hue-rotate(320deg);
  filter: hue-rotate(320deg);
}

.button_cards-like:focus {
  background: rgb(0, 0, 0) !important;
  color: #000 !important
}

/* .footer {
  max-width: 882px;
  padding: 0 19px;
}

@media screen and (min-width: 720px) {
  .footer {
    padding: 0 30px;
  }
} */

.footer__copyright {
  padding: 0 19px;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #545454;
}

@media screen and (min-width: 840px) {
  .footer__copyright {
    /* padding: 0 80px; */
    font-size: 18px;
    line-height: 22px;
  }
}

.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(99, 97, 97, 0.5);
  align-items: center;
  justify-content: center;
  /* visibility: hidden; */
  /* opacity: 0;
  transition: visibility .3s, opacity .3s ease;  */
}

.popup_active {
  display: flex;
}

/* .popup:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    opacity: .5;
    transition: opacity .3s ease;
  } */


.popup__container {
  /* background: #fff; */
  min-height: 320px;
  border-radius: 10px;
  padding: 50px;
  /*доп.пространтсво для кнопки close*/
  box-sizing: border-box;
}


.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  box-sizing: border-box;
  background: #FFFFFF;
  padding: 25px 22px;
  /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15); */
  border-radius: 10px;
  margin: 0;
}

@media screen and (min-width: 720px) {
  .form {
    max-width: 430px;
    padding: 34px 36px 30px 36px;
  }
}



.form__title {
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin: 0;
  align-self: flex-start;
  padding-bottom: 25px;
  /*отступ нижкий + 50px gap*/
}

@media screen and (min-width: 720px) {
  .form__title {
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 0;
  }
}

.form__inner {
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 30px;
}

.form__input {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid #000;
  opacity: 0.2;
  color: #000;
  font-family: inherit;
  padding-bottom: 13px;
}


.form__input:focus {
  /* outline: 3px rgb(86, 85, 91) solid; */
  border: 2px rgb(86, 85, 91) solid;
  color: #000;
  /*стили для обводки импута*/
}

.button_save-form {
  color: #fff;
  border-radius: 2px;
  padding: 14px 84px;
  transition: 0.3s ease;
  /* margin-top: 48px; */
}

@media screen and (min-width: 720px) {
  .button_save-form {
    padding-right: 124px;
    padding-left: 124px;
  }
}


/* .popup__save-button {} */

.button_close-popup {
  background: url('../images/icon/icon-close.png');
  background-size: cover;
  border: none;
  position: absolute;
  top: -45px;
  right: 0;
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 720px) {
  .button_close-popup {
    top: -45px;
    right: -45px;
    width: 32px;
    height: 32px;
  }
}

/* .popup-edit__close-button {} */