.footer {
  width: calc(100% - 38px);
  display: flex;
  flex-direction: column;
  padding: 0 19px;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .footer {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
  }
}